body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.post-summary, .post-detail li {
    margin-bottom: 1rem;
}

section ul {
    list-style: none;
    padding: 0;
}

section li {
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}
